@model ChemiFriend.Entity.JsonModel.SearchSubCategoryModel
@using System.Configuration;
@{
    string BaseUrl = ConfigurationManager.AppSettings["APIBaseUrl"].ToString();
}

<div class="agile_top_brands_grids">
    @if (Model.getSubCategoryModel.Count > 0)
    {
        foreach (var item in Model.getSubCategoryModel)
        {
            <div class="col-md-3 top_brand_left">
                <div class="hover14 column">
                    <div class="agile_top_brand_left_grid">
                        <div class="agile_top_brand_left_grid1">
                            <figure>
                                <div class="snipcart-item block">
                                    <div class="snipcart-thumb">
                                        @if (string.IsNullOrEmpty(item.ProductSubCategoryImagePath))
                                        {
                                            <a href="@Url.Action("GetProductList", "Account", new { Id=item.ProductSubCategoryId })" target="_blank"><img src="~/Images/DummyPic.jpg" height="220" width="250" /></a>
                                        }
                                        else
                                        {
                                            string imgPath = BaseUrl + "Images/UploadImg/" + item.ProductSubCategoryImagePath;
                                            <a href="@Url.Action("GetProductList", "Account", new { Id=item.ProductSubCategoryId })" target="_blank"><img src="@imgPath" height="220" width="250"></a>
                                        }
                                        <p>
                                            <a href="@Url.Action("GetProductList", "Account", new { Id=item.ProductSubCategoryId })" target="_blank">@item.ProductSubCategoryName.ToUpper() </a>
                                        </p>
                                    </div>
                                </div>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        }
        <div class="clearfix"> </div>
    }
    else
    {
        <div><text>There is no Brand Available</text></div>
    }
</div>
