@model ChemiFriend.Entity.JsonModel.SearchDealModel
@using System.Configuration;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string BaseUrl = ConfigurationManager.AppSettings["APIBaseUrl"].ToString();
    var lstCart = (List<ChemiFriend.Entity.JsonModel.AddToCartModel>)Session["cart"];
}

<link href="~/Content/w3layouts/css/IndexCss.css" rel="stylesheet" />

<script type="text/javascript">
    function Search() {
        var model = {};
        model.Search = $("#Search").val();
        model.DealType = $("#DealType").val();
        model.Sort = $("#Sort").val();
        model.PageSize = $("#PageSize").val();
        model.PageIndex = $("#PageIndex").val();

        $.ajax({
            type: "POST",
            url: "/Account/_LoadProduct",
            data: '{model: ' + JSON.stringify(model) + '}',
            contentType: "application/json; charset=utf-8",
            // dataType: "json",
            success: function (response) {
                $("#divBindProduct").html(response);
            },
            failure: function (response) {
                //location.reload();
            },
            error: function (response) {
                //  location.reload();
            }
        });
    }

    $(function () {
        Search();
    });

    function IsActive(elm) {
        var selectedPaging = $(elm).text();
        $("#PageIndex").val(selectedPaging);
        //$("#paging li").removeClass("active");
        //$(elm).parent().addClass("active");
        Search();
    }

    $(function () {
        $("#Sort").change(function () {
            $("#PageIndex").val(1);
            Search();
        });
    });

    $(function () {
        $("#DealType").change(function () {
            $("#PageIndex").val(1);
            Search();
        });
    });

    $(function () {
        $("#PageSize").change(function () {
            $("#PageIndex").val(1);
            Search();
        });
    });
</script>
<script type="text/javascript">
    function AddToCart(elm) {

        var _userId = $(elm).parent().find('.UserId').val();
        if (parseInt(_userId) <= 0) {
            alert('You will have to do login firstly.');
            return;
        }
        $(elm).val('Added');
        $(elm).attr("disabled", "disabled");

        var model = {};
        model.UserId = $(elm).parent().find('.UserId').val();
        model.DealId = $(elm).parent().find(".DealId").val();
        model.ProductId = $(elm).parent().find(".ProductId").val();
        model.Quantity = $(elm).closest('.snipcart-item').find(".Quantity").val();
        model.SchemeId = $(elm).closest('.snipcart-item').find(".SchemeId").val();

        $.ajax({
            type: "POST",
            url: "/Account/AddToCart",
            data: '{model: ' + JSON.stringify(model) + '}',
            contentType: "application/json; charset=utf-8",
            // dataType: "json",
            success: function (resp) {
                if (resp.Type == "success") {
                    $("#CartCount").html(resp.Count);
                }
            },
            failure: function (resp) {
                $("#CartCount").html(0);
            },
            error: function (resp) {
                $("#CartCount").html(0);
            }
        });
    }
</script>

<div class="logo_products">
    <div class="container">
        @*<div class="w3ls_logo_products_left1">
                <ul class="phone_email">
                    <li><i class="fa fa-phone" aria-hidden="true"></i>Order online or call us : +91 8178217568</li>
                </ul>
            </div>*@
        <div class="w3ls_logo_products_left">
            <h1>NEW OFFERS</h1>
        </div>
        <div class="w3l_search">
            <input id="Search" type="text" name="Search" placeholder="Search for a Product..." value="@Model.Search" />
            <button type="button" id="btnSearch" onclick="Search();" class="btn btn-default search" aria-label="Left Align">
                <i class="fa fa-search" aria-hidden="true"> </i>
            </button>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<!--- products --->
<div class="products">
    <div class="container">
        <div class="col-md-12 products-right">
            <div class="products-right-grid">
                @*@using (Html.BeginForm("Index", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
                    {*@
                <div class="products-right-grids">
                    <div class="sorting-left">
                        @Html.DropDownListFor(x => x.PageSize, (SelectList)ViewBag.BindPageSize, new { @class = "frm-field required sect" })
                    </div>
                    <div class="sorting-left">
                        <input type="hidden" id="PageIndex" value="1" />
                        @Html.DropDownListFor(x => x.DealType, (SelectList)ViewBag.BindDealType, new { @class = "frm-field required sect" })
                    </div>
                    <div class="sorting-left">
                        @Html.DropDownListFor(x => x.Sort, (SelectList)ViewBag.BindSorting, new { @class = "frm-field required sect" })
                    </div>
                    <div class="clearfix"> </div>
                </div>
                @*}*@
            </div>
            <div id="divBindProduct">
                @*Add Partial View*@
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!--- //products --->
<!-- new -->
<div class="newproducts-w3agile">
    <div class="container">
        <h3>TOP SELLING PRODUCTS</h3>
        <!-- Scroll -->
        @Html.Action("_NewOffers", "Account")
        <!-- //Scroll -->
    </div>
</div>
<!-- //new -->
<!--brands-->
@Html.Action("_GetCategoryList", "Account")
<!--//brands-->
