@model List<ChemiFriend.Entity.JsonModel.OrderDetailModel>
@using System.Configuration;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string BaseUrl = ConfigurationManager.AppSettings["APIBaseUrl"].ToString();
    int Count = 0;
}

<script type="text/javascript">
    $(function () {
        AddToCart("load");
    });
</script>
<!-- checkout -->
<div class="checkout">
    <div class="container">
        <h2>Your shopping cart contains: <span>@Convert.ToInt32(Session["count"]) Products</span></h2>
        <div class="checkout-right">
            <table class="timetable_sub">
                <thead>
                    <tr>
                        <th>SL No.</th>
                        <th>Product</th>
                        <th>Quality</th>
                        <th>Product Name</th>
                        <th>Scheme</th>
                        <th>Price</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                @foreach (var item in Model)
                {
                    Count += 1;
                    <tr class="rem1">
                        <td class="invert">@Count</td>
                        <td class="invert-image">
                            @if (string.IsNullOrEmpty(item.ProductImagePath))
                            {
                                <a href="javascript:void(0)"><img src="~/Images/DummyPic.jpg" class="img-responsive" alt=" " /></a>
                            }
                            else
                            {
                                string imgPath = BaseUrl + "Images/UploadImg/" + item.ProductImagePath;
                                <a href="javascript:void(0)"><img src="@imgPath" class="img-responsive" alt=" " /></a>
                            }
                        </td>
                        <td class="invert">
                            <div class="quantity">
                                <div class="quantity-select">
                                    <div class="entry value-minus">&nbsp;</div>
                                    <div class="entry value"><span>@item.Quantity</span></div>
                                    <div class="entry value-plus active">&nbsp;</div>
                                </div>
                            </div>
                        </td>
                        <td class="invert">@item.Product</td>
                        <td class="invert">@item.Scheme</td>
                        <td class="invert">@item.DealPrice</td>
                        <td class="invert">
                            <div class="rem">
                                <div class="close1"> </div>
                            </div>
                            <script>
                                $(document).ready(function (c) {
                                    $('.close1').on('click', function (c) {
                                        $('.rem1').fadeOut('slow', function (c) {
                                            $('.rem1').remove();
                                        });
                                    });
                                });
                            </script>
                        </td>
                    </tr>
                }

                <!--quantity-->
                <script>
                    $('.value-plus').on('click', function () {
                        var divUpd = $(this).parent().find('.value'), newVal = parseInt(divUpd.text(), 10) + 1;
                        divUpd.text(newVal);
                    });

                    $('.value-minus').on('click', function () {
                        var divUpd = $(this).parent().find('.value'), newVal = parseInt(divUpd.text(), 10) - 1;
                        if (newVal >= 1) divUpd.text(newVal);
                    });
                </script>
                <!--quantity-->
            </table>
        </div>
        <div class="checkout-left">
            <div class="checkout-left-basket">
                <h4>Continue to basket</h4>
                <ul>
                    <li>Product1 <i>-</i> <span>$15.00 </span></li>
                    <li>Product2 <i>-</i> <span>$25.00 </span></li>
                    <li>Product3 <i>-</i> <span>$29.00 </span></li>
                    <li>Total Service Charges <i>-</i> <span>$15.00</span></li>
                    <li>Total <i>-</i> <span>$84.00</span></li>
                </ul>
            </div>
            <div class="checkout-right-basket">
                <a href="single.html"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>Continue Shopping</a>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //checkout -->
