@model List<ChemiFriend.Entity.JsonModel.OrderDetailModel>
@using System.Configuration;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string BaseUrl = ConfigurationManager.AppSettings["APIBaseUrl"].ToString();
    int Count = 0;
    decimal GrandTotal = 0;
}

<style type="text/css">
    .checkout h2 span {
        color: #1c4775;
    }

    .checkout h2 {
        margin: 0 0 1em;
    }

    .checkout {
        padding: 2em 0;
    }

    .checkout-right-basket a {
        background: #1c4775;
    }

    .checkout-right-basket {
        margin: 3em 0 0 0em;
    }

    #PaymentMode li {
        color: #000000;
    }

    .checkout-left-basket ul li {
        color: #1c4775;
    }

    input[type="submit"] {
        outline: none;
        border: none;
        padding: 10px 0;
        font-size: 1em;
        color: #fff;
        display: block;
        width: 100%;
        background: #1c4775;
        margin: 0em 0 0;
    }

    input[type="radio"] {
        width: 20px;
        height: 20px;
    }
</style>
<script type="text/javascript">
    $(function () {
        AddToCart("load");
    });
</script>
<!-- checkout -->
@using (Html.BeginForm("OrderPlace", "Account", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
{
    <div class="checkout">
        <div class="container">
            <h2>
                Your shopping cart contains: <span>@Convert.ToInt32(Session["count"]) Products</span>
                @if (!string.IsNullOrEmpty(Convert.ToString(TempData["PaymentMode"])))
                {
                    <span style="color:red;">[ Error: @Convert.ToString(TempData["PaymentMode"]) ]</span>
                }
            </h2>
            <div class="checkout-right">
                <table class="timetable_sub">
                    <thead>
                        <tr>
                            <th>SL No.</th>
                            <th>Product</th>
                            <th>Quantity</th>
                            <th>Product Name</th>
                            <th>Scheme</th>
                            <th>Price</th>
                            <th>Total</th>
                            <th>Remove</th>
                        </tr>
                    </thead>
                    @if (Model.Count > 0)
                    {
                        foreach (var item in Model)
                        {
                            GrandTotal += item.TotalPrice;
                            <tr class="rem1">
                                <td class="invert">@(Count + 1)</td>
                                <td class="invert-image">
                                    @if (string.IsNullOrEmpty(item.ProductImagePath))
                                    {
                                        <a href="javascript:void(0)"><img src="~/Images/DummyPic.jpg" class="img-responsive" alt=" " /></a>
                                    }
                                    else
                                    {
                                        string imgPath = BaseUrl + "Images/UploadImg/" + item.ProductImagePath;
                                        <a href="javascript:void(0)"><img src="@imgPath" class="img-responsive" alt=" " /></a>
                                    }
                                </td>
                                <td class="invert">
                                    <div class="quantity">
                                        <div class="quantity-select">
                                            <a href="@Url.Action("UpdateOrderQuantity", "Account", new { DealId = item.DealId, quantity = item.Quantity, add_sub = "sub" })"><div class="entry value-minus">&nbsp;</div></a>
                                            <div class="entry value"><span>@item.Quantity</span></div>
                                            <a href="@Url.Action("UpdateOrderQuantity", "Account", new { DealId = item.DealId, quantity = item.Quantity, add_sub = "add" })"><div class="entry value-plus active">&nbsp;</div></a>
                                        </div>
                                    </div>
                                </td>
                                <td class="invert">@item.Product</td>
                                <td class="invert">@item.Scheme</td>
                                <td class="invert">@item.DealPrice</td>
                                <td class="invert">@item.TotalPrice</td>
                                <td class="invert">
                                    @*Hidden Fields*@

                                    <input type="hidden" name="orderItems[@Count].UserId" value="@ChemiFriend.Models.UserAuthenticate.UserId" />
                                    <input type="hidden" name="orderItems[@Count].DealId" value="@item.DealId" />
                                    <input type="hidden" name="orderItems[@Count].ProductId" value="@item.ProductId" />
                                    <input type="hidden" name="orderItems[@Count].SchemeId" value="@item.SchemeId" />
                                    <input type="hidden" name="orderItems[@Count].OrderItemQuantity" value="@item.Quantity" />
                                    <input type="hidden" name="orderItems[@Count].OrderItemUnitPrice" value="@item.DealPrice" />
                                    <input type="hidden" name="orderItems[@Count].OrderItemSchemes" value="@item.Scheme" />
                                    @*Hidden Fields*@
                                    <a href="@Url.Action("RemoveItem", "Account", new { DealId = item.DealId })">
                                        <div class="rem">
                                            <div class="close1">
                                            </div>
                                        </div>
                                    </a>
                                </td>
                            </tr>
                            // Increment
                            Count += 1;
                        }
                    }
                    else
                    {
                        <tr class="rem1">
                            <td class="invert" colspan="8">
                                <text>There is no item in cart</text>
                            </td>
                        </tr>
                    }

                    @*<!--quantity-->
                        <script type="text/javascript">
                            $('.value-plus').on('click', function () {
                                var divUpd = $(this).parent().find('.value'), newVal = parseInt(divUpd.text(), 10) + 1;
                                divUpd.text(newVal);
                            });

                            $('.value-minus').on('click', function () {
                                var divUpd = $(this).parent().find('.value'), newVal = parseInt(divUpd.text(), 10) - 1;
                                if (newVal >= 1) divUpd.text(newVal);
                            });
                        </script>
                        <!--quantity-->*@
                </table>
            </div>

            @if (Model.Count > 0)
            {
                <div class="checkout-left">
                    <div class="checkout-left-basket">
                        <ul id="PaymentMode">
                            <li>
                                @if (!string.IsNullOrEmpty(Convert.ToString(TempData["PaymentMode"])))
                                {
                                    <b style="color:red;">PAYMENT MODE: <span></span></b>
                                }
                                else
                                {
                                }
                            </li>
                            <li>Cash On Delivery <span><input type="radio" name="PaymentMode" value="COD" /></span></li>
                            <li>Payment Now <span><input type="radio" name="PaymentMode" value="PaymentNow" /></span></li>
                        </ul>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="checkout-left">
                    <div class="checkout-left-basket">
                        <ul>
                            <li>
                                <input type="hidden" name="GrandTotal" value="@GrandTotal" />
                                <b>Grand Total <span>@GrandTotal</span></b>
                            </li>
                            @*<li><b>Payment Mode:</b></li>
                                <li>Cash On Delivery <span><input type="radio" /></span></li>
                                <li>Credit / Debit / ATM Card <span><input type="radio" /></span></li>
                                <li>Net Banking <span><input type="radio" /></span></li>*@
                            <li>
                                <input type="submit" value="PLACE ORDER" />
                            </li>
                        </ul>
                    </div>
                    <div class="checkout-right-basket">
                        <a href="@Url.Action("Index", "Account")"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>CONTINUE SHOPPING</a>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            }

        </div>
    </div>
}
<!-- //checkout -->
