@model ChemiFriend.Entity.Jsonmodel.DriverRegModelJson
@{
    ViewBag.Title = "ViewDriverProfile";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<style>
    .form-horizontal .control-label {
        padding-top: 15px;
        width: 180px;
        text-align: left;
        padding-left: 10px;
    }

    .form-horizontal .controls {
        margin-left: 200px;
        padding: 0px 0;
        margin-top: 10px;
        padding-top: 8px;
    }
</style>
@using (Html.BeginForm("EditDriverRegistration", "Master", FormMethod.Post, new { enctype = "multipart/form-data", @Id = "Registration", @class = "form-horizontal" }))
{
<div id="content">
    <div id="content-header">
        
        <div class="btnOnTop"><button onclick='printDiv();' type="button" class="btn btn-success">Print</button>&nbsp;<a href="@Url.Action("DriverList", "Master" , new { area="Admin" })" class="btn btn-info">Driver List</a></div>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span8">
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon"> <i class="icon-align-justify"></i> </span>
                        <h5>Driver Profile</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <div class="span6">
                            <div class="widget-box">
                                <div class="control-group">
                                    <div class="span12" style="padding:10px;">
                                        @if (string.IsNullOrEmpty(Model.ProfilePhoto))
                                        {
                                            <img src="~/Areas/Admin/Content/images/dummy.jpg" width="100" height="100" />
                                        }
                                        else
                                        {
                                            <img src="@Model.ProfilePhoto" width="100" height="100" />
                                        }
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">First Name:</label>
                                    <div class="controls left">
                                        @Model.FirstName
                                        <span class="YError">@Html.ValidationMessageFor(x => x.FirstName)</span>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Last Name:</label>
                                    <div class="controls">
                                        @Model.LastName
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Father’s Name:</label>
                                    <div class="controls">
                                        @Model.FatherName
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Date of Birth:</label>
                                    <div class="controls">
                                        @Convert.ToDateTime(Model.DOB).ToString("dd MMM yyyy")
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Local Address:</label>
                                    <div class="controls">
                                        @Model.LocalAddress
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Local City:</label>
                                    <div class="controls">
                                        @Model.LocalCity
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Local State:</label>
                                    <div class="controls">
                                        @Model.LocalState
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Mobile No 1:</label>
                                    <div class="controls">
                                        @Model.MobileNo
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Phone No:</label>
                                    <div class="controls">
                                        @Model.PhoneNo
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Email Id:</label>
                                    <div class="controls">
                                        @Model.EmailId
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Permanent Address:</label>
                                    <div class="controls">
                                        @Model.PermanentAddress
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="span6">
                            <div class="widget-box">
                                <div class="control-group">
                                    <label class="control-label">Permanent City:</label>
                                    <div class="controls">
                                        @Model.PermanentCity
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Permanent State:</label>
                                    <div class="controls">
                                        @Model.PermanentState
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">DL No:</label>
                                    <div class="controls">
                                        @Model.DLNo
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Aadhar No:</label>
                                    <div class="controls">
                                        @Model.AadharNo
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Employee Type:</label>
                                    <div class="controls">
                                        @Model.EmployeeType
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Salary:</label>
                                    <div class="controls">
                                        @Model.Salary
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">PF No:</label>
                                    <div class="controls">
                                        @Model.PFNo
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">ESI No:</label>
                                    <div class="controls">
                                        @Model.ESINo
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">DOJ:</label>
                                    <div class="controls">
                                        @Convert.ToDateTime(Model.DOJ).ToString("dd MMM yyyy")
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Blood Group:</label>
                                    <div class="controls">
                                        @Model.BloodGroup
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Insurance:</label>
                                    <div class="controls">
                                        @Model.Insurance
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Joining Location:</label>
                                    <div class="controls">
                                        @Model.JoiningLocation
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Emergency Contact No:</label>
                                    <div class="controls">
                                        @Model.EmergencyContactNo
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Employee Code:</label>
                                    <div class="controls">
                                        @Model.EmployeeCode
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id='DivIdToPrint' style="display:none;">
    <table style="width:100%">
        <tr>
            <td colspan="2" style="text-align:center;">
                <h4>Driver Profile</h4>
            </td>
        </tr>
        <tr>
            <td style="width:50%">
                <table>
                    <tr>
                        <td colspan="2">
                            @if (string.IsNullOrEmpty(Model.ProfilePhoto))
                            {
                            <img src="~/Areas/Admin/Content/images/dummy.jpg" />
                            }
                            else
                            {
                            <img src="@Model.ProfilePhoto" width="100" height="100" />
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>First Name:</td>
                        <td>@Model.FirstName</td>
                    </tr>
                    <tr>
                        <td>Last Name:</td>
                        <td>@Model.LastName</td>
                    </tr>

                    <tr>
                        <td>Father’s Name:</td>
                        <td>@Model.FatherName</td>
                    </tr>
                    <tr>
                        <td>Date of Birth:</td>
                        <td>
                            @Convert.ToDateTime(Model.DOB).ToString("dd MMM yyyy")
                        </td>
                    </tr>
                    <tr>
                        <td>Local Address:</td>
                        <td>@Model.LocalAddress</td>
                    </tr>
                    <tr>
                        <td>Local City:</td>
                        <td>@Model.LocalCity</td>
                    </tr>
                    <tr>
                        <td>Local State:</td>
                        <td>@Model.LocalState</td>
                    </tr>
                    <tr>
                        <td>Mobile No 1:</td>
                        <td>@Model.MobileNo</td>
                    </tr>
                    <tr>
                        <td>Phone No:</td>
                        <td>@Model.PhoneNo</td>
                    </tr>
                    <tr>
                        <td>Email Id:</td>
                        <td>@Model.EmailId</td>
                    </tr>
                </table>
            </td>
            <td style="width:50%">
                <table>
                    <tr>
                        <td>Permanent Address:</td>
                        <td>@Model.PermanentAddress</td>
                    </tr>
                    <tr>
                        <td>Permanent City:</td>
                        <td>@Model.PermanentCity</td>
                    </tr>
                    <tr>
                        <td>Permanent State:</td>
                        <td>@Model.PermanentState</td>
                    </tr>
                    <tr>
                        <td>DL No:</td>
                        <td>@Model.DLNo</td>
                    </tr>
                    <tr>
                        <td>Aadhar No:</td>
                        <td>@Model.AadharNo</td>
                    </tr>
                    <tr>
                        <td>Employee Type:</td>
                        <td>@Model.EmployeeType</td>
                    </tr>
                    <tr>
                        <td>Salary:</td>
                        <td>@Model.Salary</td>
                    </tr>
                    <tr>
                        <td>PF No:</td>
                        <td>@Model.PFNo</td>
                    </tr>
                    <tr>
                        <td>ESI No:</td>
                        <td>@Model.ESINo</td>
                    </tr>
                    <tr>
                        <td>DOJ:</td>
                        <td>
                            @Convert.ToDateTime(Model.DOJ).ToString("dd MMM yyyy")
                        </td>
                    </tr>
                    <tr>
                        <td>Blood Group:</td>
                        <td>@Model.BloodGroup</td>
                    </tr>
                    <tr>
                        <td>Insurance:</td>
                        <td>@Model.Insurance</td>
                    </tr>
                    <tr>
                        <td>Joining Location:</td>
                        <td>@Model.JoiningLocation</td>
                    </tr>
                    <tr>
                        <td>Emergency Contact No:</td>
                        <td>@Model.EmergencyContactNo</td>
                    </tr>
                    <tr>
                        <td>Employee Code:</td>
                        <td>@Model.EmployeeCode</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
}

@section scripts
{
<script type="text/javascript">
    function printDiv() {
        var divToPrint = document.getElementById('DivIdToPrint');
        var newWin = window.open('', 'Print-Window');
        newWin.document.open();
        newWin.document.write('<html><head>'
            + '<body onload="window.print()">' + divToPrint.innerHTML + '</body></html>');
        newWin.document.close();
        setTimeout(function () { newWin.close(); }, 10);
    }
</script>
}