@model ChemiFriend.Entity.JsonModel.GetDealModel
@using System.Configuration;

@{
    ViewBag.Title = "GetDealDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string BaseUrl = ConfigurationManager.AppSettings["APIBaseUrl"].ToString();
}
<style>
    .newproducts-w3agile {
        padding: 1em 0;
    }

    .agileinfo_single_right_details {
        margin: 0 !important;
        width: 50% !important;
    }
    .w3agile_description p {
        font-size: 14px;
        color: #1c4775;
        line-height: 2em;
        margin: .5em 0 0;
        width: 95%;
    }
</style>
<link href="~/Content/w3layouts/css/IndexCss.css" rel="stylesheet" />
<!-- //breadcrumbs -->
<div class="products">
    <div class="container" style="border:1px solid;padding:10px;">
        <div class="agileinfo_single">
            <div class="col-md-3 agileinfo_single_left">
                @if (string.IsNullOrEmpty(Model.ProductImagePath))
                {
                    <img src="~/Images/DummyPic.jpg" alt=" " class="img-responsive" />
                }
                else
                {
                    string imgPath = BaseUrl + "Images/UploadImg/" + Model.ProductImagePath;
                    <img src="@imgPath" class="img-responsive" />
                }
            </div>
            <div class="col-md-5 agileinfo_single_right">
                <h4>@Model.ProductName.ToUpper()</h4>
                <div class="w3agile_description">
                    <p><b> @Model.ProductCategory -> @Model.ProductSubCategory -> @Model.FormType</b></p>
                    <p>COMPOSTION: <b>@Model.Composition</b></p>
                    <p>MARKETED BY: <b>@Model.MarketingCompany</b></p>
                    <p></p>
                    <h4>Product Molecules :</h4>
                    <p>
                        <b>@Model.ProductCode</b> <text>.</text>
                    </p>
                    <p>FORM: <b>@Model.FormType</b>, PACK TYPE: <b>@Model.PackType</b>, PACK SIZE: <b>@Model.PackSize</b> </p>
                </div>
                <div class="snipcart-item block">

                </div>
            </div>

            <div class="col-md-4 agileinfo_single_right">
                <div class="snipcart-item block">
                    <div class="snipcart-thumb agileinfo_single_right_snipcart">
                        <p>MRP: <b>@Model.MRP</b></p>
                        <p>Rate: <b>@Model.PTR</b></p>
                        <p>Offer: No Offer</p>
                    </div>
                    <div class="snipcart-details agileinfo_single_right_details">
                        <form action="#" method="post">
                            <fieldset>
                                <input type="hidden" name="cmd" value="_cart">
                                <input type="hidden" name="add" value="1">
                                <input type="hidden" name="business" value=" ">
                                <input type="hidden" name="item_name" value="pulao basmati rice">
                                <input type="hidden" name="amount" value="21.00">
                                <input type="hidden" name="discount_amount" value="1.00">
                                <input type="hidden" name="currency_code" value="USD">
                                <input type="hidden" name="return" value=" ">
                                <input type="hidden" name="cancel_return" value=" ">
                                <input type="submit" name="submit" value="Add to cart" class="button">
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- new -->
<div class="newproducts-w3agile">
    <div class="container">
        <h3>TOP SELLING PRODUCTS</h3>
        <!-- Scroll -->
        @Html.Action("_NewOffers", "Account")
        <!-- //Scroll -->
    </div>
</div>
<!-- //new -->