@model List<ChemiFriend.Entity.JsonModel.GetDealModel>
@using System.Configuration;

@{
    ViewBag.Title = "MyDeals";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    string BaseUrl = ConfigurationManager.AppSettings["APIBaseUrl"].ToString();
    string ListStatus = @ViewBag.ListStatus;
    int SrNo = 0;
}

<div id="content">
    <div id="content-header">
        <div style="float:right;margin-right:100px;margin-top: 5px;"><a href="#" class="btn btn-info" style="text-align:right;"></a></div>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <h5>MY DEAL LIST</h5>
                <div>
                    <table id="myGrid" class="table">
                        <thead>
                            <tr>
                                <th class="dt-left">SNo.</th>
                                <th class="dt-center">Applicable</th>
                                <th class="dt-center">Company</th>
                                <th class="dt-center">Product</th>
                                <th class="dt-center">Form Type</th>
                                <th class="dt-center">MRP</th>
                                <th class="dt-center">PTR</th>
                                <th class="dt-center">Start Date</th>
                                <th class="dt-center">End Date</th>
                                <th class="dt-center">Expiry Date</th>
                                <th class="dt-center">Staus</th>
                                <th class="dt-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                SrNo += 1;
                                <tr>
                                    <td class="dt-left">@SrNo</td>
                                    <td class="dt-left">@item.DealApplicableFor</td>
                                    <td class="dt-left">@item.ProductCategory</td>
                                    <td class="dt-left">@item.ProductName</td>
                                    <td class="dt-left">@item.FormType</td>
                                    <td class="dt-center">@item.MRP</td>
                                    <td class="dt-center">@item.PTR</td>
                                    <td class="dt-center">@Convert.ToDateTime(item.DealStartDate).ToString("dd MMM yyyy")</td>
                                    <td class="dt-center">@Convert.ToDateTime(item.DealEndDate).ToString("dd MMM yyyy")</td>
                                    <td class="dt-center">@Convert.ToDateTime(item.ProductExpiryDate).ToString("dd MMM yyyy")</td>
                                    <td class="dt-center">
                                        @if (item.Status == (int)ChemiFriend.Utility.Status.Active)
                                        {
                                            <tex style="color:green">Approved</tex>
                                        }
                                        else if (item.Status == (int)ChemiFriend.Utility.Status.Deactive)
                                        {
                                            <tex style="color:red">Deactive</tex>
                                        }
                                        else
                                        {
                                            <tex style="color:orange">UnApproved</tex>
                                        }
                                    </td>
                                    <td class="dt-center">
                                        <div class="btn-group">
                                            <button data-toggle="dropdown" class="btn btn-info dropdown-toggle">Action <span class="caret"></span></button>
                                            <ul class="dropdown-menu">
                                                @if (ListStatus == "APPROVED")
                                                {
                                                    <li><a target="_blank" href="@Url.Action("GetSchemeList", "Deal", new { DealId=item.DealId })">View Schemes</a></li>
                                                    <li><a onclick="IsDeactivate(this);" id="@item.DealId">Deactivate</a></li>
                                                }
                                                else if (ListStatus == "DEACTIVE")
                                                {
                                                    <li><a target="_blank" href="@Url.Action("GetSchemeList", "Deal", new { DealId=item.DealId })">View Schemes</a></li>
                                                }
                                                else
                                                {
                                                    <li><a target="_blank" href="@Url.Action("GetSchemeList", "Deal", new { DealId=item.DealId })">View Schemes</a></li>
                                                }
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#myGrid').DataTable({});
        });

        // Approve confirmation PopUp
        function IsApprove(elm)
        {
            var TranId = $(elm).attr("id");
            var con = confirm("Are you sure you want to approve this ?");
            if (con) {

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("Approve--Deal", "Deal")",
                    data: '{Id: "' + TranId + '" }',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (resp) {
                        if (resp.Type == 'success')
                        {
                            var msg = resp.Message;
                            GritterNoteSuccess(msg)
                            //window.location.href = window.location.href;
                        }
                    },
                    error: function (resp) {
                        alert(resp.RespMessage);
                    }
                });
            }
        }
    </script>
}
